version: '3.9'

services:
  api:
    build:
      context: ./src/RpgQuestManager.Api
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Default=Host=db;Port=5432;Database=rpgquestmanager;Username=rpguser;Password=rpgpass123
    ports:
      - "5000:8080"
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=rpgquestmanager
      - POSTGRES_USER=rpguser
      - POSTGRES_PASSWORD=rpgpass123
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:


